Elijo las hojas a trabajar

In [1]:
import pandas as pd
#  pip install openpyxl

In [4]:
internet = pd.ExcelFile('Internet.xlsx')
hojas= internet.sheet_names
hojas

['Acc_vel_loc_sinrangos',
 'Velocidad_sin_Rangos',
 'Accesos_tecnologia_localidad',
 'Velocidad % por prov',
 'Totales VMD',
 'Totales Accesos Por Tecnología',
 'Accesos Por Tecnología',
 'Penetración-poblacion',
 'Penetracion-hogares',
 'Penetracion-totales',
 'Totales Accesos por rango',
 'Accesos por rangos',
 'Dial-BAf',
 'Totales Dial-BAf',
 'Ingresos ']

Se crea dataframe para cada hoja a analizar en el EDA, se realiza un breve ETL y se guardan

In [19]:
hojas= ['Velocidad % por prov', 'Accesos Por Tecnología', 'Penetración-poblacion', 'Penetracion-hogares','Penetracion-totales', 'Totales Accesos por rango', 'Accesos por rangos','Ingresos' ]
velocidad_provincia = internet.parse('Velocidad % por prov')
totales_accesos_tecnologia = internet.parse('Totales Accesos Por Tecnología')
accesos_tecnologia_provincia=  internet.parse('Accesos Por Tecnología')
p_poblacion =  internet.parse('Penetración-poblacion')
p_hogares =  internet.parse('Penetracion-hogares')
p_totales =  internet.parse('Penetracion-totales')
total_accesos_velocidad = internet.parse('Totales Accesos por rango')
accesos_velocidad_provincia = internet.parse('Accesos por rangos')
ingresos=  internet.parse('Ingresos ')

In [4]:
# velocidad_provincia.head(2)
# totales_accesos_tecnologia.head(2)
accesos_tecnologia_provincia.head(2)
# p_poblacion.head(2)
# p_hogares.head(2)
# p_totales.head(2)
# total_accesos_velocidad.head(2)
# accesos_velocidad_provincia.head(2)
# ingresos.head(2)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0

<!-- # totales_accesos_tecnologia, p_totales, ingresos : eliminar periodo 
# ingresos: cambiar miles de pesos a dolares
# accesos tecnologia eliminar * en Año	y Trimestre -->

- totales_accesos_tecnologia, p_totales, ingresos : eliminar periodo 
- ingresos: cambiar miles de pesos a dolares
- accesos tecnologia eliminar * en Año	y Trimestre

In [20]:
totales_accesos_tecnologia.drop('Periodo', axis=1, inplace=True)
p_totales.drop('Periodo', axis=1, inplace=True)
ingresos.drop('Periodo', axis=1, inplace=True)

In [63]:
totales_accesos_tecnologia.head(1)
# p_totales.head(1)
# ingresos.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,733491,5867504,4169958,593197,191957,11556107

In [ ]:
# Pesos argentinos a dolares y se renombra columna
ingresos['Ingresos (miles de pesos)']= round(ingresos['Ingresos (miles de pesos)']*0.001002, 2)
ingresos.rename({'Ingresos (miles de pesos)': 'Ingresos (dolares)'}, axis=1, inplace=True)
#Cambio de error de tipeo 2033
ingresos['Año']=ingresos['Año'].replace(2033,2023)

In [6]:
# elimina los * 
accesos_tecnologia_provincia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,2,Buenos Aires,214055.0,2722466.0,1849476.0,138638.0,64745.0,4989380.0
1,2024,2,Capital Federal,54102.0,1144781.0,230402.0,4493.0,29821.0,1463599.0
2,2024,2,Catamarca,4951.0,10303.0,58355.0,1384.0,81.0,75074.0
3,2024,2,Chaco,9448.0,57935.0,68944.0,8407.0,2358.0,147092.0
4,2024,2,Chubut,25955.0,80704.0,26516.0,31118.0,9930.0,174223.0

In [9]:
type(accesos_tecnologia_provincia['Año'][0])

str

In [ ]:
# Como columna Año y Trimestre e int, se transforma a str para extraer la fecha, se elimina espacios y despues se vuelve a convertir a int
accesos_tecnologia_provincia['Año'] = accesos_tecnologia_provincia['Año'].astype(str).str.replace(r'[^\d]', '', regex=True).astype('Int64')
accesos_tecnologia_provincia['Trimestre'] = accesos_tecnologia_provincia['Trimestre'].astype(str).str.replace(r'[^\d]', '', regex=True)

In [10]:
accesos_tecnologia_provincia[accesos_tecnologia_provincia['Año']=='2019']

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
431,2019,4,Buenos Aires,720011.0,2191672.0,669194.0,87111.0,18266.0,3686254.0
432,2019,4,Capital Federal,196938.0,1093143.0,35534.0,3914.0,28576.0,1358105.0
433,2019,4,Catamarca,22999.0,3318.0,9506.0,261.0,2227.0,38311.0
434,2019,4,Chaco,48661.0,53602.0,8831.0,5229.0,1580.0,117903.0
435,2019,4,Chubut,47045.0,26977.0,1324.0,15267.0,5489.0,96102.0
...,...,...,...,...,...,...,...,...,...
522,2019,1,Santa Cruz,10659.0,4615.0,382.0,6514.0,2735.0,24905.0
523,2019,1,Santa Fe,340038.0,340344.0,15621.0,23215.0,17860.0,737078.0
524,2019,1,Santiago Del Estero,25337.0,61547.0,23.0,2847.0,99.0,89853.0
525,2019,1,Tierra Del Fuego,19789.0,23549.0,1623.0,0.0,1486.0,46447.0
526,2019,1,Tucumán,159215.0,11670.0,118.0,678.0,321.0,172002.0

In [37]:
# Union de p_poblacion, o_hogar, p_totales
# Merge entre p_hogares y p_poblacion basado en Año, Trimestre y Provincia
df_merged = pd.merge(p_hogares, p_poblacion, on=['Año', 'Trimestre', 'Provincia'], how='outer')

penetracion_df = pd.merge(df_merged, p_totales, on=['Año', 'Trimestre'], how='outer')

# Renombrar columnas para mayor claridad
penetracion_df = penetracion_df.rename(columns={
    'Accesos por cada 100 hogares_x': 'Accesos por cada 100 hogares (Provincia)',
    'Accesos por cada 100 hab_x': 'Accesos por cada 100 hab (Provincia)',
    'Accesos por cada 100 hogares_y': 'Accesos por cada 100 hogares (Total)',
    'Accesos por cada 100 hab_y': 'Accesos por cada 100 hab (Total)'
})

# penetracion_df.head()

# df_merged.head()
penetracion_df.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares (Provincia),Accesos por cada 100 hab (Provincia),Accesos por cada 100 hogares (Total),Accesos por cada 100 hab (Total)
0,2024,2,Buenos Aires,79.84,27.43,78.13,24.57
1,2024,2,Capital Federal,116.37,47.44,78.13,24.57
2,2024,2,Catamarca,68.81,17.50,78.13,24.57
3,2024,2,Chaco,44.06,11.78,78.13,24.57
4,2024,2,Chubut,86.33,26.46,78.13,24.57

In [1]:
#Ingresos
ingresos.head(10)

NameError: name 'ingresos' is not defined

Exportar hojas listas a csv

In [ ]:
velocidad_provincia.to_csv('Data/velocidad_provincia.csv', index= False)
totales_accesos_tecnologia.to_csv('Data/totales_accesos_tecnologia.csv', index= False)
accesos_tecnologia_provincia.to_csv('Data/accesos_tecnologia_provincia.csv', index= False)
penetracion_df.to_csv('Data/p_totales_provincia.csv', index=False)
ingresos.to_csv('Data/ingresos.csv', index=False)

Verificacion

In [111]:
velo_prov= pd.read_csv('Data/p_totales.csv')
velo_prov.head(2)

    Año  Trimestre  Accesos por cada 100 hogares  Accesos por cada 100 hab
0  2024          2                         78.13                     24.57
1  2024          1                         78.89                     24.79